.programsNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.programsNavbar a {
  height: 4rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0rem;
  padding-left: 0rem;
  margin-right: -2rem;
  margin-left: -2rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.programsNavbar  a {
  background-size: 100% 6rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.programsNavbar  a.active {
  background:  url(../../assets/ProgramsNavbar-Chevron-mid.svg) no-repeat center;
  background-size: 100% 6rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  opacity:1;
}

.programsNavbar  a.active:first-child {
  background: url(../../assets/ProgramsNavbar-Chevron-start.svg) no-repeat center;
  background-size: 100% 6rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  opacity:1;
}

.programsNavbar  a.active:last-child {
  background: url(../../assets/ProgramsNavbar-Chevron-end.svg) no-repeat center;
  background-size: 100% 6rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  opacity:1;
}


