.tableContainer {
  width: 100%;
  overflow: auto;
  /* border: 1px solid gray; */
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;

}

.table {
  width: fit-content;
  margin: 0px;
  border: none;
  border-radius: 8px 8px 0 0;
  box-shadow: -3px -0px 8px rgba(0, 0, 0, 0.5);
}

/* tbody */
.tbody {
  display: block;
  height: inherit;
  max-height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
}

.td {
  overflow: hidden;
  text-overflow: clip;
  padding: 4px 8px !important;
  line-height: 1.75;
  border: none;
  display: flex !important;
  align-items: center;
  word-spacing: 1px;
  letter-spacing: -0.22px;
}

.tbody>.tr:nth-child(even) {
  background-color: #eeeeee;
}

.tbody>tr {
  color: #505050;
  border: none;
  border-bottom: 1px solid #aaaaaa;
}

.table>thead>tr>th {
  border: none;
  font-weight: 400;
  word-spacing: 1px;
  letter-spacing: -0.22px;
  line-height: 1.75;
}

.table>thead>tr {
  background-color: #36304a;
  color: #efefef;
  border: none;
  border-bottom: 1px solid #202020;
}

.table>thead>tr:first-child {
  border-radius: 8px 8px 0 0;
}

.table>.tbody>tr:hover {
  background-color: #cdcdcd;
  color: #202020;
}


.tbody::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
  /* background-color: red; */
  margin-block: 0.5rem;
}

.tbody::-webkit-scrollbar-track {
  background-color: white;
  /* border: 1px solid gray; */
  border-radius: 8px;
  /* margin-block: 0.5rem; */
}

/* 
.tbody::-webkit-scrollbar-button {

} */

.tbody::-webkit-scrollbar-thumb {
  background-color: #adb5bd;
  border-radius: 8px;
  /* margin: 1px; */
}

.sortingArrow {
  color: #dcdcdc;
}

.tableContainer::-webkit-scrollbar {
  height: 0.75rem;
  border-radius: 4px;
}

.tableContainer::-webkit-scrollbar-thumb {
  background-color: #adb5bd;
  border-radius: 8px;
  margin: 1px;
}

.tableContainer::-webkit-scrollbar-track {
  background-color: white;
  border: none;
  padding: 0.4rem;
  border-radius: 8px;
  /* margin-block: 1rem; */
}

@supports(scrollbar-color: #adb5bd white) {
  * {
    scrollbar-color: #adb5bd white;
  }
}

@supports(scrollbar-width: 10px) {
  * {
    scrollbar-width: 10px;
  }
}